/* ********** RESETS ********** */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ********** GENERAL STYLE RULES ********** */

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #eeeeee;
    color: #393e46;
}

a {
    text-decoration: none;
    transition: all .2s;
}

a:link, a:visited {
    color: #555555;
}

a:hover, a:active {
    color: #ffffff;
}

/* ********* HEADER ********** */

#header {
    position: relative;
}

/* ====Navigation === */
#main-nav {
    background-color: #393e46;
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    width: 100px;
    margin: 0;
}

.nav-links {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.nav-links li {
    margin: 0 10px;
    list-style-type: none;
} 

.nav-links li:nth-child(2) {
    margin-left: auto;
}

.nav-links li:first-child {
    margin-left: 1%;
}

.nav-links li:last-child {
    margin-right: 1%;
}

.nav-links li:nth-child(2), .nav-links li:nth-child(3), .nav-links li:nth-child(4) {
    margin-top: 15px;
}

.nav-links li a {
    color: #ffffff;
    border-bottom: 2px solid transparent;
    padding: 3px;
    text-decoration: none;
    transition: border-bottom .2s;
}

.nav-links li a:hover, .nav-links li a:active {
    border-bottom: 2px solid #00adb5;
}

/* === Heading & Subheading === */

#headings {
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
}

#title {
    font-size: 3.5rem;
    color: #00adb5;
    letter-spacing: .05rem;
}

#sub-title {
    font-size: 1.5rem;
    font-weight: 300;
    color: #9b9b9b;
    margin-top: 5px;
    letter-spacing: .05rem;

}

#sub-title span {
    font-style: italic;
    border-bottom: 2px solid #222831;
    padding-bottom: 3px;
}